<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The-Tech-Blog</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2 ">
      <h1>
        <a href="/" class=" text-decoration-none title">Tech Blog</a>
      </h1>
      <nav class="justify-space-between">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a class="text-decoration-none dashboard" href="/dashboard">Dashboard</a> |
        <button class="btn btn-secondary" id="logout">Logout</button>
        {{else}}
        <a class="text-decoration-none login" href="/login">Login</a>
        <a class="text-decoration-none signup" href="/signup">Sign up</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <div class="row justify-content-center text-center">
        <div class="col-md-10">
  <!-- Render the sub layout -->
      {{{ body }}}
        </div>
      </div>
    </main>
    </div>
     {{#if logged_in}}
     
    <script src="/js/logout.js"></script>
     {{/if}}

</body>
</html>